global
    log stdout format raw local0 info
    ssl-default-bind-options no-sslv3 no-tlsv10 no-tlsv11
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305

defaults
    mode    http
    option  httplog
    option  dontlognull
    log     global
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend stats
    bind *:444
    stats enable
    stats uri /
    stats refresh 10s
    stats auth {{ haproxy_user }}:{{ haproxy_password }}
    stats admin if TRUE

frontend matrix_frontend
    bind *:443 ssl crt /usr/local/etc/certs/fullchain.pem

    http-request set-header X-Forwarded-Proto https

    acl host_matrix hdr(host) -i {{ matrix_domain }}
    acl host_grafana hdr(host) -i {{ matrix_base_domain }}
    acl path_matrix path_beg /_matrix /_synapse/client
    acl path_well_known_client path /.well-known/matrix/client
    acl path_well_known_server path /.well-known/matrix/server
    acl path_grafana path_beg /grafana/
    acl path_grafana_ws path_beg /grafana/api/live/

    use_backend well_known_client if path_well_known_client
    use_backend well_known_server if path_well_known_server
    use_backend matrix_synapse if host_matrix path_matrix
    use_backend grafana_backend if host_grafana path_grafana
    use_backend grafana_ws_backend if host_grafana path_grafana_ws

backend well_known_client
    http-request set-header Host {{ matrix_domain }}
    http-request return status 200 content-type "application/json" hdr "Access-Control-Allow-Origin" "*" string '{"m.homeserver": {"base_url": "https://{{ matrix_domain }}"}}'

backend well_known_server
    http-request set-header Host {{ matrix_domain }}
    http-request return status 200 content-type "application/json" string '{"m.server": "{{ matrix_domain }}"}'

backend matrix_synapse
    server matrix localhost:8008 check
    http-request set-header Host {{ matrix_domain }}
    http-request set-header X-Forwarded-For %[src]
    option forwardfor
    http-request set-header X-Forwarded-Proto https
    http-response set-header X-Frame-Options SAMEORIGIN
    option httpchk HEAD /_matrix/client/versions

backend grafana_backend
    server grafana localhost:3000 check
    http-request set-header Host %[req.hdr(host)]
    option forwardfor

backend grafana_ws_backend
    server grafana_ws localhost:3000 check
    http-request set-header Host %[req.hdr(host)]
    option forwardfor
    option http-server-close
    option http-pretend-keepalive
    http-request set-header Upgrade %[req.hdr(Upgrade)]
    http-request set-header Connection %[req.hdr(Connection)]
