user  nginx;
worker_processes  auto;

error_log  /var/log/nginx/error.log notice;
pid        /var/run/nginx.pid;


events {
    worker_connections  1024;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;

    keepalive_timeout  65;

    map $http_upgrade $connection_upgrade {
        default upgrade;
        ''      close;
    }

    server {
        server_name {{ matrix_domain }};

        listen 443 ssl;
        listen [::]:443 ssl;

        http2  on;

        ssl_certificate /etc/letsencrypt/live/{{ matrix_base_domain }}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/{{ matrix_base_domain }}/privkey.pem;

        location /.well-known/matrix/client {
            return 200 '{"m.homeserver": {"base_url": "https://{{ matrix_domain }}"}}';
            default_type application/json;
            add_header Access-Control-Allow-Origin *;
        }

        location /.well-known/matrix/server {
            default_type application/json;
            return 200 '{"m.server": "{{ matrix_domain }}"}';
        }

        location ~ ^(\/_matrix|\/_synapse\/client) {
            proxy_pass http://localhost:8008;
            proxy_set_header X-Forwarded-For $remote_addr;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_set_header Host $host;
            client_max_body_size 50M;
        }

        location /grafana/ {
            proxy_set_header Host $http_host;
            proxy_pass http://localhost:3000;
        }

        location /grafana/api/live/ {
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection $connection_upgrade;
            proxy_set_header Host $http_host;
            proxy_pass http://localhost:3000;
        }
    }
}
