server_name: {{ lookup('hashi_vault', 'secret=kv/data/matrix:domain') }}
pid_file: "/data/homeserver.pid"
public_baseurl: https://{{ lookup('hashi_vault', 'secret=kv/data/matrix:domain') }}/
listeners:
  - port: 8008
    tls: false
    type: http
    x_forwarded: true
    resources:
      - names: [client, federation]
        compress: false
acme:
  enabled: false
database:
  name: psycopg2
  args:
    user: {{ lookup('hashi_vault', 'secret=kv/data/matrix:db_user') }}
    password: {{ lookup('hashi_vault', 'secret=kv/data/matrix:db_password') }}
    database: synapse
    host: db
    cp_min: 5
    cp_max: 10
media_store_path: "/data/media_store"
enable_registration: false
registration_shared_secret: "{{ lookup('hashi_vault', 'secret=kv/data/matrix:registration_shared_secret') }}"
macaroon_secret_key: "{{ lookup('hashi_vault', 'secret=kv/data/matrix:macaroon_secret_key') }}"
form_secret: "{{ lookup('hashi_vault', 'secret=kv/data/matrix:form_secret') }}"
signing_key_path: "/data/homeserver.signing.key"
trusted_key_servers:
  - server_name: "matrix.org"
report_stats: false
suppress_key_server_warning: true
