server_name: {{ matrix_domain }}
pid_file: "/data/homeserver.pid"
public_baseurl: https://{{ matrix_domain }}/
listeners:
  - port: 8008
    tls: false
    bind_addresses: ['0.0.0.0']
    type: http
    x_forwarded: true
    resources:
      - names: [client, federation]
        compress: false
acme:
  enabled: false
database:
  name: psycopg2
  args:
    user: {{ matrix_db_user }}
    password: {{ matrix_db_password }}
    database: synapse
    host: synapse-db
    cp_min: 5
    cp_max: 10
media_store_path: "/data/media_store"
enable_registration: false
registration_shared_secret: "{{ matrix_registration_shared_secret }}"
macaroon_secret_key: "{{ matrix_macaroon_secret_key }}"
form_secret: "{{ matrix_form_secret }}"
signing_key_path: "/data/homeserver.signing.key"
trusted_key_servers:
  - server_name: "matrix.org"
report_stats: false
suppress_key_server_warning: true
