LOG_LEVEL=info
ONE_DIR=1
ACCOUNT_PROVISIONER=FILE
ENABLE_UPDATE_CHECK=1
UPDATE_CHECK_INTERVAL=7d
PERMIT_DOCKER=none
TZ=Europe/Rome
NETWORK_INTERFACE=ens3
TLS_LEVEL=modern
SPOOF_PROTECTION=1
ENABLE_OPENDKIM=1
ENABLE_OPENDMARC=1
ENABLE_POLICYD_SPF=1
ENABLE_POP3=0
ENABLE_IMAP=1
ENABLE_CLAMAV=0
ENABLE_RSPAMD=1
ENABLE_AMAVIS=0
ENABLE_DNSBL=0
ENABLE_FAIL2BAN=1
FAIL2BAN_BLOCKTYPE=drop
SSL_TYPE=manual
SSL_CERT_PATH=/etc/letsencrypt/live/{{ acme_base_domain }}/fullchain.pem
SSL_KEY_PATH=/etc/letsencrypt/live/{{ acme_base_domain }}/privkey.pem
POSTFIX_MAILBOX_SIZE_LIMIT=0
ENABLE_QUOTAS=0
POSTFIX_MESSAGE_SIZE_LIMIT=0
LOGROTATE_INTERVAL=weekly
POSTFIX_REJECT_UNKNOWN_CLIENT_HOSTNAME=0
POSTFIX_INET_PROTOCOLS=all
ENABLE_MTA_STS=0
DOVECOT_INET_PROTOCOLS=all
ENABLE_SPAMASSASSIN=0
ENABLE_FETCHMAIL=0
ENABLE_OAUTH2=0
DOVECOT_MAILBOX_FORMAT=maildir
ENABLE_POSTGREY=0
ENABLE_SASLAUTHD=0
